<div class="p-3">
  <button type="button" class="btn btn-primary" (click)="openAddModal()">
    Добавить заказ
  </button>

  <table class="table mt-3">
    <thead>
    <tr>
      <th>Номер заказа</th>
      <th>Дата</th>
      <th>Заказчик</th>
      <th>Статус</th>
      <th>Отлата</th>
      <th>Состав</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orderService.orders">
      <td>{{ order.number }}</td>
      <td>{{ order.created_at }}</td>
      <td>{{ order.client?.name }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.payment ? 'Оплачен' : '' }}</td>
      <td>
        <ul>
          <li *ngFor="let product of order.products">
            {{ product.name }}
          </li>
        </ul>
      </td>
      <td>
        <button class="btn btn-primary mr-1">Изменить</button>
        <button class="btn btn-danger">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

