<div class="p-3">
  <button type="button" class="btn btn-primary" (click)="openAddModal()">
    Добавить продукт
  </button>

  <table class="table mt-3">
    <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Состав</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productionService.products">
      <td (click)="copyText(product._id)">{{ product.name }}</td>
      <td (click)="copyText(product._id)">{{ product.description }}</td>
      <td (click)="copyText(product._id)">{{ product.price }} руб.</td>
      <td (click)="copyText(product._id)">{{ product.composition }}</td>
      <td>
        <button class="btn btn-primary mr-1" (click)="openChangeModal(product._id)">Изменить</button>
        <button class="btn btn-danger" (click)="removeProduct(product._id)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

