<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">SkraTag</a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/orders">Заказы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clients">Клиенты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/production">Продукция</a>
    </li>
  </ul>
</nav>

<router-outlet (deactivate)="onDeactivate()"></router-outlet>