<div class="p-3">
    <button type="button" class="btn btn-primary" (click)="openAddModal()">
        Добавить клиента
    </button>

    <table class="table mt-3">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Комментарий</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clientsService.clients">
            <td>{{ client.name }}</td>
            <td>{{ client.phone }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.comment }}</td>
            <td>
                <button class="btn btn-primary mr-1" (click)="openChangeModal(client._id)">Изменить</button>
                <button class="btn btn-danger" (click)="removeClient(client._id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

