<div class="modal-header">
  <h4 class="modal-title pull-left">Добавить</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="addModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addClientForm" (submit)="addClient($event)">
  <div class="modal-body">

    <div class="form-group">
      <input class="form-control" placeholder="Имя" name="name" formControlName="name" />
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Телефон" name="description" formControlName="phone" />
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Email" name="price" formControlName="email" />
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="Комментарий" name="composition" formControlName="comment"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Добавить</button>
    <button type="button" class="btn btn-default" (click)="addModalRef.hide()">Закрыть</button>
  </div>
</form>